body{
	background-color: #11d94d;
}
h1{
	margin-bottom:80px;
	margin-left:20px;
}

img{
	margin-left:20px;
}

.gaga{
    margin-top:180px;
    margin-left:600px;
    color: #c40471;
  font-family: 'Rubik Mono One', sans-serif;


}

.demopls{
	font-family: 'Unbounded', cursive;
font-family: 'Yeseva One', cursive;

	margin-top:50px;
	  margin-left:600px;
}

.upi{
	font-family: 'Unbounded', cursive;
font-family: 'Yeseva One', cursive;
	color:#3700ff ;
	margin-top:20px;
	  margin-left:600px;
}

.pop{
	font-family: 'Unbounded', cursive;
font-family: 'Yeseva One', cursive;
	color:#ff0000 ;
	margin-top:20px;
	  margin-left:600px;
}